#umbraco-ocr {
    padding: 20px;
}

#umbraco-ocr #image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#umbraco-ocr label[for="image"] {
    padding: 10px;
    background-color: #1b264f;
    color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 10px;
}

#umbraco-ocr #preview {
    height: 200px; 
    width: auto; 
    display: none;
}

#umbraco-ocr textarea {
    width: 100%; 
    display: block; 
    padding: 10px;
}